---

---

<footer>
  <div class="border-t border-gray-500 text-white-65 py-4">
    <div class="container mx-auto px-4 text-center text-sm opacity-50">
      <p>
        &copy; {new Date().getFullYear()} Noobs "R" Us Racing. All rights reserved.
      </p>
      <p>Developed by Nicolas I. Menendez</p>
    </div>
  </div>
</footer>
