---

---

<section
  class="py-16 md:py-24 px-6 md:px-12 lg:px-24 border-b border-gray-700 mx-auto"
>
  <div
    class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-3 gap-6 max-w-7xl mx-auto"
  >
    <div
      class="md:col-span-3 md:row-span-2 flex flex-col md:flex-row justify-between items-center text-left p-6 rounded-lg border border-blue-500/30 bg-linear-to-br from-blue-900/30 via-gray-800/50 to-purple-900/30 hover:border-blue-400/50 hover:shadow-sm hover:shadow-blue-600 transition-all duration-300"
    >
      <div class="w-full md:max-w-1/2">
        <h2
          class="font-semibold text-4xl md:text-5xl p-4 md:p-8 md:pl-8 bg-linear-to-r from-yellow-400 via-purple-800 via-50% to-purple-600 bg-clip-text text-transparent"
        >
          At Noobs "R" Us
        </h2>
        <p
          class="prose text-sm md:text-lg lg:text-xl text-left p-4 md:p-8 text-gray-200 leading-relaxed max-w-3xl mx-auto"
        >
          We are dedicated to providing an exceptional sim-racing experience for
          newcomers and seasoned drivers alike. Here are some of the key reasons
          why our drivers stay with us:
        </p>
      </div>
      <div class="w-full md:max-w-1/2 mt-4 md:mt-0">
        <img
          src="/src/assets/noobs-cars-battle.png"
          alt="NRUS Amg and 296 racing in the sunset"
          class="aspect-auto w-full md:w-lg lg:w-180 shadow-xl rounded-tl-4xl"
        />
      </div>
    </div>

    <div
      class="flex flex-col items-center text-center p-6 rounded-lg border border-green-500/30 bg-linear-to-br from-green-900/20 to-gray-800/50 hover:border-green-400/50 hover:shadow-lg hover:shadow-green-500/20 transition-all duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-messages w-16 h-16 mb-4 text-green-400"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10"
        ></path><path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2"
        ></path></svg
      >
      <h3 class="text-2xl font-semibold text-white mb-2">Community Focused</h3>
      <p class="prose text-gray-200">
        We foster a welcoming and supportive environment where drivers can
        learn, grow, and enjoy racing together.
      </p>
    </div>

    <div
      class="flex flex-col items-center text-center p-6 rounded-lg border border-orange-500/30 bg-linear-to-br from-orange-900/20 to-gray-800/50 hover:border-orange-400/50 hover:shadow-lg hover:shadow-orange-500/20 transition-all duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-helmet h-16 w-16 mb-4 text-orange-400"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 4a9 9 0 0 1 5.656 16h-11.312a9 9 0 0 1 5.656 -16z"></path><path
          d="M20 9h-8.8a1 1 0 0 0 -.968 1.246c.507 2 1.596 3.418 3.268 4.254c2 1 4.333 1.5 7 1.5"
        ></path></svg
      >
      <h3 class="text-2xl font-semibold text-white mb-2">Structured Racing</h3>
      <p class="prose text-gray-200">
        Our well-organized race schedules and clear rules ensure a fair and
        competitive environment for all participants.
      </p>
    </div>
    <div
      class="flex flex-col items-center text-center p-6 rounded-lg border border-yellow-500/30 bg-linear-to-br from-yellow-900/20 to-gray-800/50 hover:border-yellow-400/50 hover:shadow-lg hover:shadow-yellow-500/20 transition-all duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-award w-16 h-16 mb-4 text-yellow-400"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 9m-6 0a6 6 0 1 0 12 0a6 6 0 1 0 -12 0"></path><path
          d="M12 15l3.4 5.89l1.598 -3.233l3.598 .232l-3.4 -5.889"></path><path
          d="M6.802 12l-3.4 5.89l3.598 -.233l1.598 3.232l3.4 -5.889"
        ></path></svg
      >
      <h3 class="text-2xl font-semibold text-white mb-2">Multiple Splits</h3>
      <p class="prose text-gray-200">
        We separate our drivers into three different skill levels to ensure good
        competition and winning opportunities for all.
      </p>
    </div>
  </div>
</section>
